@page {
    size: letter landscape;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

main {
    width: 90%;
    justify-content: center;
    max-width: 80%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Estilo para la imagen institucional */
img {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

/* Estilo para el encabezado */
h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center; /* Alineación al centro horizontal */
}

h2 {
    font-family: Arial sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center; /* Alineación al centro horizontal */
}

#datos-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-0 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.border-custom-0 {
    border: 2px solid #ccc;
    padding: 2px;
    border-radius: 5px;
    transition: transform 0.2s, border-color 0.2s;
}

.container-0:hover .border-custom-0 {
    transform: translate(0, -5px);
    border-color: #4CAF50; /* Cambiar a tu color preferido */
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px; /* Establecer una altura mínima adecuada */
}

.border-custom-1 {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s, border-color 0.2s;
}

.container-1:hover .border-custom-1 {
    transform: translate(0, -5px);
    border-color: #4CAF50; /* Cambiar a tu color preferido */
}

/* ESTILO DEL RELOJ */
#contador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

/* Estilos para el título del contador */
#cuenta-regresiva {
    font-size: 1rem; /* Tamaño de fuente grande */
    font-weight: bold;
    color: #ffffff; /* Color de texto blanco */
    background: linear-gradient(to right, #ff0000, #f45353); /* Fondo degradado */
    padding: 5px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}


.table {
    width: 50%;
    border-collapse: collapse;
    align-items: center;
}

.table th, .table td {
    font-size: 12px; /* Tamaño de fuente del cuerpo de la tabla */
    padding: 1px 8px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #ddd;
    white-space: nowrap;
    text-align: right;
    border: 2px solid #ddd;
    word-wrap: break-word;
}

.table td {
    background-color: #fff;
}

#datos_estudiante {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    align-items: center;
}

#datos_estudiante-1 td, #datos_estudiante-1 th {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px; /* Tamaño de fuente del cuerpo de la tabla */
    text-align: left;
    vertical-align: middle;
    height: fit-content;
    word-wrap: break-word;
}

.registrodecursos {
    width: 100%;
    border-collapse: collapse;
}

.registrodecursos th, .registrodecursos td {
    padding: 5px 5px;
    border: 2px solid #ddd;
    text-align: left;
}

.registrodecursos th {
    background-color: #ddd;
    font-size: 16px;
}
.registrodecursos td {
    font-size: 14px;
    background-color: #fff;
}

#creditos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#creditos {
    border-collapse: collapse;
    width: auto;
}

#creditos th, #creditos td {
    padding: 2px 5px;
    text-align: right;
    border: 1px solid #ddd;
}

#creditos th {
    background-color: #ddd;
    font-size: 12px;
    white-space: nowrap;
}

#creditos td {
    background-color: #fff;
    font-size: 12px;
}

#total-creditos {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Alinea los botones a los extremos */
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border-radius: 5px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
}

.btn {
    padding: 10px 20px;
    font-size: 1rem; /* Tamaño de fuente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    }

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-dark {
    background-color: #343a40;
    color: white;
}

.btn-warning {
    background-color: #ff0000;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-link {
    padding: 5px 8px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.logout-button {
    background-color: #dc3545;
    color: white;
}

.text-center {
    text-align: center;
}

.border-custom-0, .border-custom-1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

#mensaje-advertencia {
    color: red;
    text-align: center;
}

.container-0, .container-1 {
    width: 100%;
    margin-top: 10px;
}

/* Estilo para el input */
input#cvu {
    padding: 4px;
    border: 0.8px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%; /* Ajusta el ancho según tus necesidades */
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: #cfe2ed;
}




