@page {
    size: letter landscape;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 0;
    background-color: #eef0fa;
    color: #333;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

main {
    width: 90%;
    justify-content: center;
    max-width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}



/* Estilo para la imagen institucional */
img {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

#datos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px; /* Establecer una altura mínima adecuada */
}

.border-custom-1 {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s, border-color 0.2s;
}

.container-1:hover .border-custom-1 {
    transform: translate(0, -5px);
    border-color: #4CAF50; /* Cambiar a tu color preferido */
}

.table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    font-size: 12px; /* Tamaño de fuente del cuerpo de la tabla */
    padding: 5px 10px;
    border: 1px solid #ddd;
    /*align-items: center;*/
}

.table th {
    background-color: #f4f4f4;
    white-space: nowrap;
    text-align: right;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.button-container .btn {
    margin-left: 10px;
}

.display {
    width: 100%;
    border-collapse: collapse;
}

.display th, .display td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.display th {
    background-color: #f4f4f4;
}

#creditos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#creditos {
    border-collapse: collapse;
    width: auto;
}

#creditos th, #creditos td {
    padding: 5px 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#creditos th {
    background-color: #ddd;
    white-space: nowrap;
}

#creditos td {
    background-color: #fff;
}

#total-creditos {
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-dark {
    background-color: #343a40;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-link {
    background: none;
    color: #007bff;
    text-decoration: none;
}

.logout-button {
    background-color: #dc3545;
    color: white;
}

.text-center {
    text-align: center;
}

.border-custom-0, .border-custom-1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

#mensaje-advertencia {
    color: red;
    text-align: center;
}

.container-0, .container-1 {
    width: 100%;
}





