<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'CSS_EST/about.css' %}">
</head>
<body>

<header>
</header>

    <section id="about">
        <h1>ACERCA DEL EQUIPO DESARROLLADOR</h1>
        <p>DESARROLLADOR: JOSÉ RODRÍGUEZ ROSALES</p>
        <p>Correo: rodriguez.rosales@colpos.mx</p>
        <p>EN COLABORACIÓN CON: DR. JUAN MANUEL GONZÁLEZ CAMACHO</p>
        <p>Correo: jmgc@colpos.mx</p>
        <p>DESAROLLADO EN EL AÑO: 2023</p>
        <h3>SUBDIRECCIÓN DE EDUCACIÓN - CAMPUS MONTECILLO</h3>
        <h3>PSEI - CÓMPUTO APLICADO</h3>
        <a href="https://www.linkedin.com/in/jose-rodriguez-rosales/" class="social-button linkedin-button" target="_blank">
            <i class="fab fa-linkedin button-icon"></i> LinkedIn</a>
        
        <a href="https://github.com/ElpoderdelComputo/Tutoriales_YouTube/tree/main" class="social-button github-button" target="_blank">
            <i class="fab fa-github button-icon"></i> GitHub</a>
        
        <a href="https://www.youtube.com/@elpoderdelcomputo" class="social-button youtube-button" target="_blank">
            <i class="fab fa-youtube button-icon"></i> YouTube</a>
        
        <a href="https://www.tiktok.com/@elpoderdelcomputo" class="social-button tiktok-button" target="_blank">
            <i class="fab fa-tiktok button-icon"></i> TikTok</a>
        
        <a href="https://www.facebook.com/JoseMex08/" class="social-button facebook-button" target="_blank">
            <i class="fab fa-facebook button-icon"></i> Facebook</a>
        <P>Redes sociales</P>
    </section>

<footer>
</footer>

</body>
</html>
