<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuera de línea - Sistema de Inscripciones en Línea</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #ff0000; /* Color rojo */
        }

        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
 <!-- La imagen institucional -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="" width="700">
    </div>

    <h1>Fuera de línea</h1>
    <p>El Sistema de Inscripciones en Línea no está disponible en este momento.</p>
    <h1>ALTAS Y BAJAS Primavera 2024: 17 al 22 de enero 2024 de 9:00 am a 17:00 horas</h1>
</body>
</html>
