<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuera de Línea - Sistema de Inscripciones en Línea</title>
    <link rel="stylesheet" href="{% static 'CSS_EST/fuera_de_linea.css' %}">
</head>
<body>
    <!-- Inicio del contenedor para la imagen central -->
    <div class="center-image">
        <img src="{% static 'imagenes/SubDirImg.png' %}" alt="Imagen Institucional" width="700">
    </div>
    <!-- Fin del contenedor para la imagen central -->

    <h1>Fuera de línea</h1>
    <p>Preinscripciones Periodo OTOÑO-2024: 08 - 09 de agosto 2024 </p>
    <p> de 9:00 am a 17:00 horas</p>
    <p>Guía Preinscripciones: <a href="https://www.youtube.com/watch?v=eQHUypV0I6g" target="_blank">Ver video</a></p>
    <p>Guía para altas y bajas: <a href="https://youtu.be/cthOD8kJFGw" target="_blank">Ver video</a></p>
    
    <!-- Links adicionales o información de contacto podría ir aquí -->

</body>
</html>
