/* Estilos para el formulario */
body {
  font-family: Verdana, sans-serif;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el encabezado */
h1 {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: auto;
}

/* Estilo para el encabezado */
h2 {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: auto;
}

.formulario {
  margin-top: 2rem;
  justify-content: center;
  max-width: 450px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos básicos para el grupo del formulario */
.formulario__grupo {
  margin-bottom: 15px;
}

/* Estilos para el ícono de validación */
.formulario_validacion-estado {
  font-size: 1.5em;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Alineación del input y label */
.form-floating {
  position: relative;
}

.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.5rem 0.75rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.form-floating input {
  height: calc(3.5rem + 2px);
  padding: 1rem 0.75rem;
}

/* Ajustes para alinear el ícono al centro verticalmente */
.row.align-items-center {
  display: flex;
  align-items: center;
}

/* Estilos para el botón */
input[type="submit"] {
  font-family: Verdana, sans-serif;
  display: inline-block;
  background-color: #487cb2;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: #0dcaf0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  letter-spacing: 0.1rem;
}

input[type="submit"]:hover {
  background-color: #1c8506;
}
input[type="submit"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.formulario_btn--enviar button:hover {
  background-color: #65b1d6;
}

/* Estilos para los mensajes de error */

#error-message {
  margin-top: 10px;
}

ul.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.messages li {
  padding: 5px;
  margin-bottom: 5px;
}

ul.messages li.error {
  background-color: #ffe6e6;
  color: #ff4d4d;
}

ul.messages li.success {
  background-color: #e6ffe6;
  color: #00cc00;
}

ul.messages li.info {
  background-color: #e6f2ff;
  color: #007bff;
}
